@import url([Outfit]https://fonts.google.com/specimen/Outfit);
    *{
      margin: 0;
      box-sizing: border-box;
    }
  .container{
      background-color: hsl(0, 0%, 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: 'Outfit', sans-serif;
  }
.cards{
    max-width: 360px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px hsl(220, 15%, 55%);
}
.images{
  max-width: 100%;
  border-radius: 20px;
}
.title{
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
  color: hsl(218, 44%, 22%);
}
.title  p{ 
  font-size: 15px;
  text-align: center;
  /* max-width: 280px; */
  margin-top : 20px;
  color: hsl(220, 15%, 55%) ;
}
